.services {
  text-align: center;
  padding-bottom: 2rem;
  background-color: var(--primary-light-gray);
}

.rowServices {
  justify-content: space-between;
}

.services h1 {
  color: var(--primary-dark);
  text-transform: uppercase;
}

.circle {
  position: relative;
  margin: 0.375rem auto;
  background: var(--primary-orange);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

.icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  height: 16rem;
  border-bottom: 0.3125rem solid var(--primary-orange);
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  background: var(--primary-white);
  transition: 0.3s ease-in-out;
}

.box:hover {
  background: var(--primary-orange);
  border-bottom: 0.3125rem solid var(--primary-dark);
}

.box:hover .icon {
  color: var(--primary-dark);
}

.box:hover .circle {
  background: var(--primary-white);
}
.box:hover p {
  color: var(--primary-white);
}
