.imageBoxWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolioCard {
  
  width: 38rem;
  border: 1px solid var(--primary-orange);
  margin: 1rem;
}

.portfolioImg {
  padding: 0.3rem;
  border-bottom: 1px solid var(--primary-orange);
}

.cardTitle {
  color: var(--primary-orange);
  font-size: 2rem;
}

.cardText {
  color: var(--primary-white);
}

.portfolioBTN {
  margin: 1rem 0 0 0;
  background: none;
  font-size: .8rem;
}

.cardBody {
  background: var(--primary-dark);
}

/* .portfolioWrapper {
  background: var(--primary-light-gray);
  padding: 3rem 0;
}

.portfolioImage {
  width: 15rem;
  border: 1px solid var(--primary-orange);
  padding: 0 0.5rem;
}

.portfolioImageBox {
  position: relative;
  margin: 1rem;
} */

/* .overflow {
  position: absolute;
  opacity: 0;
  background: var(--primary-black);
  width: 45rem;
  height: 8rem;
  top: 0;
  border: 1px solid var(--secondary-orange);
  cursor: pointer;
} */

/* .portfolioImageBox:hover .overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

.portfolioIcon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.6rem;
  color: var(--primary-orange);
  font-size: 1.5rem;
}

.portfolioImageBox:hover .portfolioIcon {
    opacity: 70%;
    transition: 0.3s ease-in-out;
    cursor: pointer; 
} */
